html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: all 220ms linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 75%;
}

.polaroid:hover {
  transition: all 220ms linear;
  transform: rotate(0deg);
}

.polaroid:nth-child(1) {
  transform: translate(200px, 100px) rotate(-10deg);
}

.polaroid:nth-child(1):hover {
  transform: translate(200px, 100px) rotate(0deg);
  box-shadow: 5px 5px 10px;
  transition: all 220ms linear;
  z-index: 2;
}

.polaroid:nth-child(2) {
  transform: translate(280px, 150px) rotate(5deg);
  z-index: 1;
}

.polaroid:nth-child(2):hover {
  transform: translate(280px, 150px) rotate(0deg);
  box-shadow: 5px 5px 10px;
  transition: all 220ms linear;
  z-index: 5;
}

.polaroid:nth-child(3) {
  transform: translate(400px, 100px) rotate(20deg);
}

.polaroid:nth-child(3):hover {
  transform: translate(400px, 100px) rotate(0deg);
  box-shadow: 5px 5px 10px;
  transition: all 220ms linear;
  z-index: 1;
}
